.container {
  margin-top: 60px;
  padding: 0 20px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 70px 1fr;
  gap: 20px;
  grid-template-areas:
    'image'
    'title'
    'content';

  @include tablet {
    grid-template-columns: 500px 1fr;
    grid-template-rows: 70px 1fr;
    grid-template-areas:
      'title image'
      'content image';
  }
  @include desktop {
    padding: 0px;
    grid-template-columns: 500px 1fr;
    grid-template-rows: 70px 1fr;
    grid-template-areas:
      'title image'
      'content image';
  }
}
.image {
  grid-area: image;
  width: 100%;
  height: auto;
  border-radius: 20px;
}
.title {
  grid-area: title;
}
.content {
  grid-area: content;
}
