.container {
  z-index: 2;
}

.title {
  color: $white;
  text-align: center;
}

.content {
  margin-top: 25vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  img {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
  }
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 2em 0;
  button {
    width: 250px;
  }
}

.body {
  max-width: 400px;
}

.bg {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: 1s all;
}
