.container {
  z-index: 2;
  height: calc(100vh - 200px);
  display: flex;
  align-items: center;
}

.title {
  color: $white;
  text-align: center;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  img {
    display: none;
    @include desktop {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      z-index: 0;
    }
  }
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 2em 0;
  button {
    width: 200px;
  }
}

.body {
  max-width: 400px;
}

.bg {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: 1s all;
}
