.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-auto-columns: 1fr;
  grid-auto-rows: auto;
  gap: 10px;
  grid-auto-flow: row;
  grid-template-areas:
    "SearchFriend"
    "TodaysChallenge"
    "UserLevel"
    "CreateGroups";

  @include tablet {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
      "SearchFriend SearchFriend"
      "TodaysChallenge UserLevel"
      "CreateGroups Groups";
  }
  @include desktop {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      "SearchFriend SearchFriend UserLevel"
      "TodaysChallenge CreateGroups Groups";
  }
}

.SearchFriend {
  grid-area: SearchFriend;
  text-align: center;
  @include tablet {
    text-align: left;
  }
  @include desktop {
    text-align: left;
  }
}

.TodaysChallenge {
  grid-area: TodaysChallenge;
}

.UserLevel {
  grid-area: UserLevel;
}

.Groups {
  grid-area: Groups;
}

.Levels {
  grid-area: Levels;
}

.stats {
  span:first-child {
    color: $errorMain;
  }
  span:nth-child(2) {
    color: $successMain;
  }
  span:last-child {
    color: $successMain;
  }
}
