.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-auto-columns: 1fr;
  grid-auto-rows: auto;
  gap: 10px;
  grid-auto-flow: row;
  grid-template-areas:
    'FriendRequests'
    'TodaysChallenge'
    'UserLevel'
    'CodeQR'
    'Friends';

  @include tablet {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
      'FriendRequests FriendRequests'
      'TodaysChallenge UserLevel'
      'CodeQR CodeQR'
      'Friends Friends';
  }
  @include desktop {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      'FriendRequests FriendRequests FriendRequests'
      'CodeQR TodaysChallenge UserLevel'
      'Friends Friends Friends';
  }
}

.SearchFriend {
  grid-area: SearchFriend;
  text-align: center;
  @include tablet {
    text-align: left;
  }
  @include desktop {
    text-align: left;
  }
}

.Friends {
  grid-area: Friends;
}

.CodeQR {
  grid-area: CodeQR;
}

.FriendRequests {
  grid-area: FriendRequests;
}

.TodaysChallenge {
  grid-area: TodaysChallenge;
}

.UserLevel {
  grid-area: UserLevel;
}

.Groups {
  grid-area: Groups;
}

.Levels {
  grid-area: Levels;
}

.stats {
  span:first-child {
    color: $errorMain;
  }
  span:nth-child(2) {
    color: $successMain;
  }
  span:last-child {
    color: $successMain;
  }
}
