.container {
  z-index: 1000;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: $primaryMain;
  color: white;
}

.content {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  img {
    text-align: center;
    width: 400px;
    margin: 0 20px;
  }
}
