.container {
  min-height: 900px;
  position: relative;
  display: flex;
  flex-direction: column;
  text-shadow: 1px 1px 3px $black;
  color: #ffffff;
  background: $primaryMain;
  background: linear-gradient(
    180deg,
    $primaryMain 0%,
    $primaryMain 20%,
    $warningDark 100%
  );

  img {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
  }
}

.title {
  position: relative;
  text-shadow: 1px 1px 3px $black;
  z-index: 100;
}

.content {
  margin-bottom: 150px;
  margin-top: 50px;
  position: relative;
  z-index: 10;
  max-width: 500px;

  .description {
    font-size: 1em;
    @include tablet {
      font-size: 1.2em;
    }
    @include desktop {
      font-size: 1.5em;
    }
  }
}
