.container {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  text-shadow: 1px 1px 3px #000;
  color: #ffffff;
  background: rgb(22, 55, 85);
  background: linear-gradient(
    180deg,
    rgba(22, 55, 85, 1) 0%,
    rgba(22, 55, 85, 1) 20%,
    rgba(149, 95, 39, 1) 100%
  );

  img {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
  }

  .content {
    font-size: 1.5em;
    margin-bottom: 150px;
    margin-top: 50px;
    position: relative;
    z-index: 10;
    max-width: 500px;
  }
}
