.avatar {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid $successMain;
  display: inline-block;
  position: relative;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2);
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
  margin-left: -10px;
  background-color: black;
  svg {
    width: 100%;
    height: auto;
    color: $secondaryMain;
  }
}
