.container {
  height: 100vh;
  position: relative;
  z-index: 1;
}

.content {
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 30px;
  max-width: 500px;
  margin: 30px 10px;
}

.content-left {
}
.content-right {
}
.content-center {
}
