.container {
  z-index: -1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1em;
}

.eventDetails {
  margin-top: 2em;
  display: flex;
  flex-direction: column;
  gap: 1em;
  width: 95%;
  h1 {
    font-size: 2em;
  }
}

.eventHeader {
  display: flex;
  flex-direction: column;
  @include tablet {
    display: flex;
    flex-direction: column;
  }
  @include desktop {
    display: flex;
    flex-direction: row;
  }
}

.avatarsContainer {
  display: flex;
  top: -20px;
}
