.topNavbarMenu {
  color: $white;
  display: block;
  margin-left: -30px;
  @include tablet {
    display: none;
  }
  @include desktop {
    display: none;
  }
}

.topNavbarLogo {
  margin-left: 0;
  @include tablet {
    margin-left: -30px;
  }
  @include desktop {
    margin-left: -30px;
  }
}

.topNavbarProfile {
  color: $secondaryMain;
  margin-right: -30px;
  display: flex;
  svg {
    position: relative;
    top: -3px;
    font-size: 1.3em;
  }
  img {
    position: relative;
    top: -3px;
  }
  .userName {
    display: none;
    @include tablet {
      display: block;
    }
    @include desktop {
      display: block;
    }
  }
}
