.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1em;
}

.eventChat {
}

.video {
  width: 100%;
  max-width: 700px;
  min-height: 400px;
  height: 50vh;
}

.videoContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: black;
  border-radius: $borderRadius;
}

.eventDetails {
  display: flex;
  flex-direction: column;
  gap: 1em;
  h1 {
    font-size: 2em;
  }
}

.eventHeader {
  display: flex;
  flex-direction: column;
  @include tablet {
    display: flex;
    flex-direction: column;
  }
  @include desktop {
    display: flex;
    flex-direction: row;
  }
}
