.container {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 999;
  background-color: $primaryMain;
  height: 1px;
}

.controls {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1000;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  height: 70px;
  padding: 0 14px;
  box-shadow: -2px 0px 13px -4px rgba(176, 176, 176, 1);
  backdrop-filter: blur(50px);

  @include tablet {
    flex-direction: row;
    height: 60px;
    justify-content: space-between;
    align-items: center;
  }
  @include desktop {
    flex-direction: row;
    height: 60px;
    justify-content: space-between;
    align-items: center;
  }
}

.title {
  color: #fff;
  display: none;
  width: 250px;

  @include tablet {
    display: block;
  }
  @include desktop {
    display: block;
  }
}

.mystery {
  position: relative;
  top: -10px;
  color: #fff;
  width: 250px;
  text-align: right;

  @include tablet {
    top: 0px;
  }
  @include desktop {
    top: 0px;
  }
}

.buttonControl {
  button:first-child {
    margin-right: 50px;
  }
  button:last-child {
    margin-left: 50px;
  }
}
