.container {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 999;

  &::before {
    position: fixed;
    bottom: 5px;
    right: 0;
    left: 0;
    z-index: -100;
    content: "";
    height: 20px;
    width: 100%;
    background-color: black;
  }
}

.controls {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1000;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 20px;
  gap: 1em 1em;
  grid-auto-flow: row;
  grid-template-areas:
    "buttonControl buttonControl"
    "title mystery";

  height: 80px;
  padding: 0 14px;
  box-shadow: -2px 0px 13px -4px rgba(176, 176, 176, 1);
  backdrop-filter: blur(50px);

  @include tablet {
    grid-template-columns: 1fr 350px 1fr;
    grid-template-rows: 1fr;
    gap: 1em 1em;
    grid-auto-flow: row;
    grid-template-areas: "title buttonControl mystery";
    align-items: center;
  }
  @include desktop {
    grid-template-columns: 1fr 350px 1fr;
    grid-template-rows: 1fr;
    gap: 1em 1em;
    grid-auto-flow: row;
    grid-template-areas: "title buttonControl mystery";
    align-items: center;
  }
}

.title {
  color: #fff;
  width: 250px;
  text-wrap: nowrap;
  white-space: nowrap;
  grid-area: title;
  position: relative;
  top: -20px;

  @include tablet {
    display: block;
    top: 0px;
  }
  @include desktop {
    display: block;
    top: 0px;
  }
}

.mystery {
  color: #fff;
  position: relative;
  top: -20px;
  width: 100%;
  grid-area: mystery;
  position: relative;
  text-align: center;

  @include tablet {
    top: 0px;
    text-align: right;
  }
  @include desktop {
    top: 0px;
    text-align: right;
  }
}

.buttonControl {
  grid-area: buttonControl;
  width: 100%;
  text-align: center;
}
