.container {
  min-height: 530px;
  padding: 20px 0;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  img {
    position: absolute;
    top: 0;
    right: 0;
  }
}

.title {
  position: relative;
  z-index: 100;
}

.content {
  margin-bottom: 150px;
  margin-top: 50px;
  height: 500px;
}
