.profile {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  @include desktop {
    width: 100px;
    height: 100px;
  }
  @include desktop {
    width: 120px;
    height: 120px;
  }
}

.profileIcon {
  font-size: 5em;
  @include desktop {
    font-size: 8em;
  }
  @include desktop {
    font-size: 8em;
  }
}
