.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-auto-columns: 1fr;
  gap: 10px;
  grid-auto-flow: row;
  grid-template-areas:
    'TodayRosary'
    'RosariesCompleted'
    'Friends'
    'RosaryStreak'
    'TotalRosaries'
    'RosaryWinnerChallenge'
    'Donations'
    'Levels'
    'Leaderboards';

  @include tablet {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    grid-template-areas:
      'TodayRosary TodayRosary'
      'RosariesCompleted Friends'
      'TotalRosaries RosaryStreak'
      'RosaryWinnerChallenge RosaryWinnerChallenge'
      'Donations Donations'
      'Levels Levels'
      'Leaderboards Leaderboards';
  }
  @include desktop {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      'TodayRosary TodayRosary RosariesCompleted'
      'TodayRosary TodayRosary Friends'
      'TotalRosaries RosaryStreak RosaryStreak'
      'RosaryWinnerChallenge RosaryWinnerChallenge RosaryWinnerChallenge'
      'Levels Levels Levels'
      'Donations Donations Donations'
      'Leaderboards Leaderboards Leaderboards';
  }
}

.TodayRosary {
  grid-area: TodayRosary;
}

.RosariesCompleted {
  grid-area: RosariesCompleted;
}

.Friends {
  grid-area: Friends;
}

.Donations {
  grid-area: Donations;
}

.Levels {
  grid-area: Levels;
}

.Leaderboards {
  grid-area: Leaderboards;
}

.TotalRosaries {
  grid-area: TotalRosaries;
}

.RosaryWinnerChallenge {
  grid-area: RosaryWinnerChallenge;
}

.RosaryStreak {
  grid-area: RosaryStreak;
}
