.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-auto-columns: 1fr;
  gap: 10px;
  grid-auto-flow: row;
  grid-template-areas:
    'TodayRosary'
    'RosariesCompleted'
    'Friends'
    'Donations'
    'Levels'
    'Leaderboards';

  @include tablet {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
      'TodayRosary TodayRosary'
      'RosariesCompleted Friends'
      'Donations Donations'
      'Levels Levels'
      'Leaderboards Leaderboards';
  }
  @include desktop {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
      'TodayRosary TodayRosary RosariesCompleted'
      'Levels Levels Levels'
      'Friends Donations Donations'
      'Leaderboards Leaderboards Leaderboards';
  }
}

.TodayRosary {
  grid-area: TodayRosary;
  text-align: center;
  @include tablet {
    text-align: left;
  }
  @include desktop {
    text-align: left;
  }
}

.RosariesCompleted {
  grid-area: RosariesCompleted;
}

.Friends {
  grid-area: Friends;
}

.Donations {
  grid-area: Donations;
}

.Levels {
  grid-area: Levels;
}

.Leaderboards {
  grid-area: Leaderboards;
}
