.content {
  position: relative;
}

.container {
  min-height: 1200px;
  color: #fff;

  display: grid;
  text-align: center;
  grid-template-columns: 1fr;
  grid-template-rows: 200px 100px 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;

  background: rgb(255, 255, 255);
  background: linear-gradient(
    180deg,
    rgba(22, 55, 86, 1) 0%,
    rgba(255, 163, 168, 1) 53%,
    rgba(255, 255, 255, 1) 100%
  );
}

.cta {
  scale: 1.5;
}

.title {
  padding-top: 150px;
}

.subTitle {
  letter-spacing: 5px;
}

.imageBottomGradient {
  position: absolute;
  bottom: 0px;
  z-index: 100;
  height: 200px;
  width: 100%;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 1) 90%,
    rgba(255, 255, 255, 1) 100%
  );
}
