.image {
  border: 5px solid red;
  border-radius: 50%;
  width: 50px;
  height: 50px;

  @include tablet {
    width: 80px;
    height: 80px;
  }
  @include desktop {
    width: 100px;
    height: 100px;
  }
}

.levelInfo {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  flex-direction: column;
  text-align: right;
}
