.container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 3em;
  margin-bottom: 3em;
}

.title {
  text-align: center;
}

.label {
  font-size: 1.7em;
  font-weight: 400;
}

.description {
}

.arcs {
  margin: 20px auto;
  border-top-left-radius: 200px;
  border-top-right-radius: 200px;
  height: 400px;
  max-width: 200px;
  border: 10px solid $errorLight;
  img {
    width: 100%;
    height: 100%;
  }
}
