.container {
  min-height: 100vh;
  margin: 100px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.title {
  text-shadow: 1px 1px 3px $black;
  z-index: 1000;
}

.arcs {
  margin: 20px auto;
  border-top-left-radius: 200px;
  border-top-right-radius: 200px;
  height: 300px;
  max-width: 200px;
  border: 10px solid $errorLight;
  img {
    width: 100%;
    height: 100%;
    border-top-left-radius: 200px;
    border-top-right-radius: 200px;
  }
}
