.container {
  z-index: 2;
  margin: 60px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.backgroundImg {
  max-height: 100vh;
  display: none;
  opacity: 0.3;
  left: -380px !important;
  @include tablet {
    display: block;
    position: fixed;
    left: 0;
  }
  @include desktop {
    display: block;
    position: fixed;
  }
}

.title {
  color: $white;
  text-align: center;
  font-weight: 100;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 2em 0;
  button {
    width: 200px;
  }
}

.body {
  margin: 20px auto;
  max-width: 400px;
}

.bg {
  z-index: -1;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: 1s all;
}
