.container {
  color: $white;
  display: flex;
  align-items: center;
  margin: 5px 0px;
}

.title {
  text-overflow: ellipsis;
  height: 39px;
  font-size: 1.7em;
}

.subTitle {
  height: 15px;
  font-size: 0.7em;
}

.description {
  height: 15px;
  text-overflow: ellipsis;
  font-size: 0.9em;
}

.button {
  margin-top: 7px;
  margin-right: 5px;
}
