.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  padding-bottom: 90px;
  text-align: center;
  grid-template-areas:
    "logo logo logo"
    "copyRights copyRights copyRights"
    "socialMedia socialMedia socialMedia"
    "about resources contact";
  @include tablet {
    grid-template-areas:
      "logo logo logo"
      "copyRights copyRights copyRights"
      "socialMedia socialMedia socialMedia"
      "about resources contact";
  }
  @include desktop {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding-bottom: 70px;
    grid-template-areas:
      "about resources contact logo"
      "about resources contact copyRights"
      "about resources contact socialMedia";
  }
}
.copyRights {
  grid-area: copyRights;
}
.about {
  grid-area: about;
}
.resources {
  grid-area: resources;
}
.contact {
  grid-area: contact;
}
.logo {
  text-align: center;
  grid-area: logo;
}
.socialMedia {
  grid-area: socialMedia;
}
