.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  padding-bottom: 70px;

  svg:first-child {
    display: flex;
    justify-self: center;
    grid-area: 1 / 1 / 2 / 4;
  }
  div:nth-child(2) {
    display: flex;
    justify-self: center;
    grid-area: 2 / 1 / 3 / 4;
  }
  &:nth-child(3) {
    grid-area: 3 / 1 / 4 / 2;
  }
  &:nth-child(4) {
    grid-area: 3 / 2 / 4 / 3;
  }
  &:nth-child(5) {
    grid-area: 3 / 3 / 4 / 4;
  }
}
