.container {
  width: 100%;
  display: flex;
  justify-content: center;

  position: absolute;
  padding-top: calc(70px + 30px);

  @include tablet {
    position: absolute;
    width: calc(100% - 320px);
    right: 10px;
  }

  @include desktop {
    position: absolute;
    right: 10px;
    width: calc(100% - 320px);
  }
}
