.container {
  background-color: $backgroundDark;
  display: grid;
  grid-template-columns: 0px 1fr;
  grid-template-rows: 60px 30px 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  height: 100%;
  min-height: 100vh;

  @include tablet {
    grid-template-columns: 300px 1fr;
  }
  @include desktop {
    grid-template-columns: 300px 1fr;
  }
}

.pageTitle {
  text-align: center;
  font-size: 3em;
  color: $white;
  grid-column-start: 1;
  grid-column-end: 3;
}

.topNavbar {
  grid-column-start: 1;
  grid-column-end: 3;
  background-color: $backgroundDark;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 40px;
  margin: 30px 0px;

  @include tablet {
    justify-content: flex-start;
  }
  @include desktop {
    justify-content: flex-start;
  }
}

.sideNavbar {
  transition: all 0.3s;
  border-radius: $borderRadius;
  grid-column-start: 1;
  grid-column-end: 2;
  margin: 0;
  width: 100%;
  background-color: $primaryMain;
  padding-left: 0;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;

  @include tablet {
    position: relative;
    background-color: $primaryMain;
    margin-right: 0.5em;
    margin-left: 1em;
    margin-top: 1em;
    padding-left: 0.5em;
    width: calc(100% - 40px);
  }
  @include desktop {
    position: relative;
    background-color: $primaryMain;
    margin-right: 0.5em;
    margin-left: 1em;
    margin-top: 1em;
    padding-left: 0.5em;
    width: calc(100% - 40px);
  }
}

.sideNavbarClose {
  left: calc($tablet-width - 20px);
  @include tablet {
    left: 0;
  }
  @include desktop {
    left: 0;
  }
}

.sideNavbarOpen {
  left: 0;
  @include tablet {
    position: relative;
    background-color: $primaryMain;
  }
  @include desktop {
    position: relative;
    background-color: $primaryMain;
  }
}

.content {
  border-radius: $borderRadius;
  padding-left: 0.5em;
  margin-left: 0.5em;
  margin-right: 1em;
  margin-top: 1em;
  grid-column-start: 2;
  grid-column-end: 3;
  margin-bottom: 1em;
  padding: 60px;
}
