.container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: rgb(68, 69, 68);
  background: linear-gradient(180deg, $warningDark 0%, $white 80%, $white 100%);
}

.title {
  color: $white;
  margin-bottom: 2em;
  text-align: center;
}

.arcs {
  margin: 20px auto;
  border-radius: 200px;
  padding: 40px;
  height: 600px;
  border: 10px solid $white;
  background-color: $white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .step {
    font-size: 6em;
    margin: 0 10px;

    @include tablet {
      font-size: 10em;
    }
    @include desktop {
      font-size: 12em;
    }
  }

  img {
    width: 100%;
    height: 100%;
  }
}

#arc-1 {
  width: 100%;
  height: 100%;

  @include tablet {
    width: 100%;
  }
  @include desktop {
    margin-top: 100px;
    width: 250px;
  }
}

#arc-2 {
  height: 100%;

  @include tablet {
    height: 100%;
  }
  @include desktop {
    height: 780px;
  }
}

#arc-3 {
  height: 100%;
  width: 100%;

  @include tablet {
    width: 100%;
  }
  @include desktop {
    margin-top: 100px;
    width: 250px;
  }
}
