.container {
  display: flex;
  flex-direction: column;
}
.prevPrevCard {
  background-color: rgb(206, 206, 206);
  margin-left: -10px;
}
.prevCard {
  background-color: rgb(239, 239, 239);
  margin-left: -5px;
  z-index: 50;
}
.nextCard {
  background-color: rgb(239, 239, 239);
  margin-left: 5px;
  z-index: 50;
}
.nextNextCard {
  background-color: rgb(206, 206, 206);
  margin-left: 10px;
}
.currentCard {
  z-index: 100;
}
.deck {
}
.card {
}
.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
