.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.prevPrevCard {
  background-color: rgb(206, 206, 206);
  margin-left: -30px;
}
.prevCard {
  background-color: rgb(239, 239, 239);
  margin-left: -20px;
  z-index: 50;
}
.nextCard {
  background-color: rgb(239, 239, 239);
  margin-left: 20px;
  z-index: 50;
}
.nextNextCard {
  background-color: rgb(206, 206, 206);
  margin-left: 30px;
}
.currentCard {
  z-index: 100;
}
.deck {
  position: relative;
  width: 300px;
  height: 400px;
}
.card {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 100%;
}
.buttons {
  position: relative;
  z-index: 900;
}
