.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: 350px;
  gap: 1em 1em;

  @include tablet {
    grid-template-columns: 1fr 1fr;
  }
  @include desktop {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.mainCard {
  grid-column-start: 1;
  grid-column-end: 1;
  display: flex;
  flex-direction: column;
  border-radius: $borderRadius;

  @include tablet {
    grid-column-start: 1;
    grid-column-end: 3;
    flex-direction: row;
  }
  @include desktop {
    grid-column-start: 1;
    grid-column-end: 4;
    flex-direction: row;
  }
}

.card {
  display: flex;
  flex-direction: column;
  border-radius: $borderRadius;
}

.mainImage {
  width: 100%;
  height: 190px;
  @include tablet {
    width: 150px;
    height: auto;
  }
  @include desktop {
    width: 350px;
    height: auto;
  }
}

.cardImage {
  width: 100%;
  height: 190px;
}

.title {
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.mainTitle {
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  @include tablet {
    white-space: wrap;
  }
  @include desktop {
    white-space: wrap;
  }
}

.date {
  text-align: right;
  font-size: 0.9em;
}

.description {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
