.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: 350px;
  gap: 1em 1em;
}

.main {
  grid-column-start: 1;
  grid-column-end: 4;
  display: flex;
  flex-direction: row;
  border-radius: $borderRadius;
}

.mainImage {
  max-width: 50%;
  height: auto;
}

.card {
  display: flex;
  flex-direction: column;
  border-radius: $borderRadius;
}

.cardImage {
  width: 100%;
  height: 150px;
}
