a {
  text-decoration: none;
  color: #00bcd4;
}

.sectionTitle {
  font-weight: 100;
  font-size: 3em;
  @media (min-width: 1024px) {
    font-size: 5em;
  }
  @media (min-width: 768px) and (max-width: 1023px) {
    font-size: 4em;
  }
}

.sectionSubTitle {
  font-size: 0.9em;
  @media (min-width: 1024px) {
    font-size: 1.3em;
  }
  @media (min-width: 768px) and (max-width: 1023px) {
    font-size: 1em;
  }
}

.appCard {
  background-color: $primaryMain;
  color: $white;
  border-radius: $borderRadius;
  padding: 1em;
}

.iframeYoutube {
  width: 100%;
  height: 400px;
}
