html,
body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.button-link {
  background-color: transparent;
  transition: all 0.3s;
  color: $white;
}

.button-circle {
  border-radius: 50%;
  line-height: 0;
  padding: 5px 1px;
  text-indent: 9px;
}

.sectionTitle {
  font-weight: 100;
  font-size: 3em;
  @include desktop {
    font-size: 5em;
  }
  @include tablet {
    font-size: 4em;
  }
}

.sectionSubTitle {
  font-size: 0.9em;
  @include desktop {
    font-size: 1.3em;
  }
  @include tablet {
    font-size: 1em;
  }
}

a {
  text-decoration: none;
}
