$xs: 0px;
$sm: 600px;
$md: 900px;
$lg: 1200px;
$xl: 1536px;

$laptop: 1024px;

$borderRadius: 10px;

$backgroundDark: #0b1c2b;
$primaryLight: #00bcd4;
$primaryMain: #163755;
$secondaryMain: #e8d1cb;
$warningLight: #955f27;
$warningMain: #ff9800;
$warningDark: #844d42;
$errorLight: #c09397;
$errorMain: #b47a84;
$errorDark: #9f4435;
$successLight: #a69540;
$successMain: #009688;

$black: #000000;
$white: #ffffff;
$dark: #71706a;
$gray: #cfcec7;
$light: #f3f2eb;

$sideNavWidth: 250px;
$tablet-width: 768px;
$desktop-width: 1024px;

@mixin tablet {
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}

:export {
  // screen widths
  xs: $xs;
  xm: $sm;
  md: $md;
  lg: $lg;
  xl: $xl;

  // colors
  black: $black;
  white: $white;
  dark: $dark;
  light: $light;
  primaryLight: $primaryLight;
  primaryMain: $primaryMain;
  secondaryMain: $secondaryMain;
  warningLight: $warningLight;
  warningMain: $warningMain;
  warningDark: $warningDark;
  errorLight: $errorLight;
  errorMain: $errorMain;
  errorDark: $errorDark;
  successLight: $successLight;
  successMain: $successMain;

  // widths
  sideNavWidth: $sideNavWidth;
}
